<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5>JAVASCRIPT</h5>
    </div>
    <div class="card-body">
        <h1>1 <span class="text-muted"> / Week</span></h1>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quos vero ipsum temporibus ut architecto dolorum accusamus reprehenderit laborum ratione magnam, doloribus necessitatibus. Architecto delectus, ea maiores deserunt dicta iusto.
        </p>
    </div>
</div>