<div class="container" style="text-align: center;">
    <h1>About The BootCamp</h1>
    <p class="p-3 h4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita temporibus quae eius nemo cumque doloribus, suscipit adipisci numquam quidem a iure vero porro voluptate ducimus reiciendis impedit exercitationem officia optio! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi amet reiciendis laboriosam molestiae ipsam odit, ex molestias maiores perspiciatis neque sapiente laborum fuga error aut dolor ut mollitia beatae. Earum?</p>
    <p class="h5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eligendi minus dolorem ab architecto ex ipsam dicta animi adipisci qui praesentium sequi repellat quaerat voluptatem, beatae itaque magnam voluptate quasi? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ad unde veritatis necessitatibus minima excepturi incidunt deleniti, repellat quae placeat, suscipit saepe veniam doloremque ipsa distinctio enim reiciendis rerum nesciunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non inventore provident labore! Earum quo distinctio adipisci dignissimos in dolor, odit, reiciendis cum labore tenetur vel!
         Suscipit accusamus inventore recusandae aut.
    </p>
</div>
