<div class="container align-items-center" style="text-align: center; height: 100%;">

    <h1>Anuglar BootCamp Jan-2020</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat veritatis, deserunt distinctio doloribus in corrupti eligendi at nemo amet asperiores sapiente error ad, modi, perferendis minus? Esse est nisi explicabo.
    </p>

    <div class="card-container d-flex flex-column flex-md-row align-items-center" style="justify-content: center;">
        <app-html-card class="p-3"></app-html-card>
        <app-javascript class="p-3"></app-javascript>
        <app-angular class="p-3"></app-angular>
    </div>
    
</div>

